:root {
    --color-orange: #FBB03B;
    --color-orange-light: #FFF3DF;
    --color-black: #333333;
    --color-text: #868686;
    --color-white: #FFFFFF;
    --color-gray: #706c61;
    --color-red: #FF0000;
}